extends base

block content
  table(align='center' style='\
  background-color: #fff;\
  /* box-shadow: 0px 1px 22px 0px #3333331a; */\
  text-align: center;\
  border-radius: 0;\
  width: 600px;\
  margin: 0px auto 0px;\
  ')
    // CONTENT HEADER STARTS
    tr(style="width: 600px;")
      td(style='\
      font-weight: 700;\
      font-size: 1.6rem;\
      color: #060016;\
      padding: 0 30px 10px;\
      width: 600px; \
      ')
        | ✉️ You’ve Been Invited!
    // CONTENT HEADER ENDS
    // CONTENT BODY STARTS
    tr(style='text-align: left; color: #4f4f4f;')
      td(style='padding: 0 30px; font-size: 1rem;')
        p Hi,
       
        P #{firstName} (Parent) has invited you to join PathNest and help guide #{childName} (Child) on their career journey!

        P 
          strong ✨ What’s next?
        
        ol
          li(style='padding: 0 0 5px') Create a PathNest account with this email, if you  haven't. 
          li(style='padding: 7px 0; line-height: 40px') Accept or Reject your invitation here:👇 
            |
            br
            |
            a(href=`${url}` style='\
            background: #fa4032;\
            text-decoration: none;\
            color: #fff;\
            border-radius: 5px;\
            padding: 9px 15px;\
            border: 2px solid #fa4032 ;\
            font-weight: 700;\
            cursor: pointer;\
            margin: 15px 10px 15px;\
            box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.2);\
            font-size: 0.9rem;\
            ')
                | Accept Invite
            |
            span(style="padding: 0 5px") or 
            |
            a(href=`${url}` style='\
            background: transparent;\
            text-decoration: none;\
            color: #fa4032;\
            border-radius: 5px;\
            padding: 8px 15px;\
            border: 2px solid #fa4032 ;\
            font-weight: 700;\
            cursor: pointer;\
            margin: 15px 10px 15px;\
            box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.2);\
            font-size: 0.9rem;\
            ')
                | Reject Invite
          li(style='padding: 7px 0 5px') Access #{childName}’s profile and recommendations.


        P Together, let’s shape their bright future! 🌟

    
    tr(style='text-align: left; color: #4f4f4f')
      td(style='padding: 0 30px; font-size: 1rem;')
        p(style='padding-bottom: 35px') 
          | Cheers,
          br
          | The PathNest Team.
        
    // CONTENT BODY ENDS